name: Deploy StorageApp Backend

on: [ workflow_dispatch]
#   #  [push, workflow_dispatch]
# we have stop Ci/cd -> as we recently Moved to Lambda function .  

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SSH_HOST: 13.204.139.91
      SSH_USER: ubuntu
      REMOTE_APP_DIR: /home/ubuntu/StorageApp/server
      PM2_APP_NAME: StorageApp

    steps:
      # 1. Setup SSH key and known_hosts
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          # Add server host key so SSH does not ask for confirmation
          ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

      # 2. Deploy to remote server
      - name: Deploy backend on EC2
        run: |
          ssh "${SSH_USER}@${SSH_HOST}" 'bash -s' << 'EOF'
            set -e

            cd /home/ubuntu/StorageApp/server
            git pull

            echo "Installing backend dependencies (npm ci)..."
            npm ci --no-audit --no-fund

            echo "Reloading PM2 app..."
            pm2 reload StorageApp

            echo "Backend Deployed Successfully..."
          EOF
